
DATABASE_URL=
EMAIL_USER=email
EMAIL_PASS=email_password_do_google
EMAIL_FROM=email
PORT=3000
GOOGLE_CLIENT_ID=id_secreta_do_GoogleAuth
GOOGLE_CLIENT_SECRET=chave_secreta_do_GoogleAuth
GOOGLE_REDIRECT_URI=http://localhost:3000/google-calendar/callback
CLIENT_JWT_SECRET=sua_chave_super_secreta_aqui
USER_JWT_SECRET=sua_chave_super_secreta_aqui
DEFAULT_OWNER_USER_ID=id_do_cliente
